.containerHero {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 0;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left .title {
    font-size: 2.5rem;
    font-weight: bold;
}

.left .text {
    font-size: 1.5rem;
    font-weight: 400;
}

.arrowDiv .textArrow {
    font-size: .8rem;
    /* font-weight: 500; */
    margin: 100px 0 0 -5px;

}

/* .arrowDiv {
    display: flex;
    align-items: center;
} */

.right {
    width: 50%
}

.rightSmaller {
    width: 85%
}

.titleSmall {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.textSmall {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.smaller {
    display: flex;
    flex-direction: column;
}

.suggested {
    padding: 25px 0 0 0;
}

.suggestedSpan {
    font-size: 1.3rem;
    font-weight: 500;
}

.sort {
    margin: 10px 0 0 0;
}

.sort span {
    margin: 0 15px 0 0;
}

.cardCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.cardSection {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardItem {
    width: 44%;
}

.titleSThree {
    font-size: 2rem;
    font-weight: bold;
}

.mapSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.mapContent {
    max-width: 30%;
    margin: 0 0 0 50px;
}

.map {
    box-shadow: 5px 5px 10px 0px rgba(77, 77, 77, 0.3);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(77, 77, 77, 0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(77, 77, 77, 0.3);
}

.contentWraper {
    display: flex;
    align-items: center;
}

.insideContentWraper {
    margin-right: 50px;
}

hr {
    color: #B6B6B6;
}