.rootBg {
    background-color: #F8F4EC;
}

.containerSections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroContent {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.heroContentRightItems {
    display: flex;
}

.titleA {
    font-weight: bold;
}

.leftC {
    margin-right: 40px;
}

.leftC p {
    font-size: 1.1rem;
}

.RightC p {
    font-size: 1.1rem;
}

.leftIcon {
    display: flex;
}

.leftIcon p {
    margin-left: 10px;
    font-weight: bold;
}

.startOff {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.startOff h3 {
    margin-right: 10px;
}

.pointer {
    cursor: pointer;
    margin: 30px 20px 0 20px;
}

.marginImg {
    margin: 0 0 20px 0;
}

.imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}