@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.root {
    /* width: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 0 0 60px;
    cursor: pointer;
}

.links {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 60px 0 0;
}

.link {
    margin: 0 20px 0 0;
    border-bottom: 1px black;
}

a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}


.MuiButtonBase-root-MuiButton-root {
    border-radius: 20px;
    font-size: 100px;
}