.askMeContainer {
    background-color: #393b46;
    min-height: 100vh;
}

.askMe {
    color: #D9D9E3;
    width: 50%;
}

.askMeDiv {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 90px;
}

.contentReq {
    display: flex;
    margin: 25px 0;
}

.avatar {
    margin-right: 20px;
}

::placeholder {
    color: red;
    opacity: 1;
    /* Firefox */
}

@media only screen and (max-width: 750px) {
    .askMe {
        width: 90%;
        /* margin: 0 20px; */
    }
}